{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

        <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Nosifer&family=Ruthie&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>


        <title>BLOODLINE Gaming</title>
    </head>
    <body>
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="NeUB8FL1"></script>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">

                {% if user.is_active%}
                <div>
                    <a href="{% url 'index' %}" class="nav__logo"><i class="bx bx-user" style="text-align:center;"></i> {{ user.username }}</a>
                </div>

                {% else%}
               <div>
                    <a href="{% url 'index' %}" class="nav__logo">{{ home.name }}</a>
                </div>
                {% endif %}


                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active"><i class="bx bx-home"></i> Home</a></li>


                        {% if user.is_active %}
                        <li class="nav__item"><a href="#news" class="nav__link"><i class="bx bx-news"></i> News</a></li>


                        {% else %}

                        <li class="nav__item"><a href="#about" class="nav__link"><i class="bx bx-question-mark"></i> About</a></li>




                        {% endif %}
                        <li class="nav__item"><a href="#videos" class="nav__link"><i class="bx bxl-youtube"></i> Videos</a></li>

                        <li class="nav__item"><a href="{% url 'tour' %}" class="nav__link"><i class="bx bx-trophy bx-flashing text text-danger"></i> Tournaments</a></li>



                        <li class="nav__item"><a href="#streamers" class="nav__link"><i class="bx bx-video"></i> Streamers</a></li>
                        {% if not user.is_active %}
                        <li class="nav__item"><a href="#contact" class="nav__link"><i class="bx bxl-whatsapp"></i> Contact</a></li>

                        <li class="nav__item"><a href="{% url 'account_login' %}" class="nav__link"><i class="bx bx-log-in"></i> Log In</a></li>
                        {% endif %}
                        {% if user.is_active %}
                        <li class="nav__item"><a href="{% url 'account_logout' %}" class="nav__link"><i class="bx bx-log-in"></i> Log Out</a></li>

                        {% endif %}


                    </ul>
                </div>


                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">



            <!--===== HOME =====-->
             <section class="home" id="home">
                <div class="home__container bd-grid text text-center">
                    <h1 class="home__title"><span>{{ home.greetings_1|upper }}</span><br></h1>


                    <div class="home__scroll" style="z-index:10;">
                    {% if user.is_active  %}
                        <a href="#news" class="home__scroll-link"><i class='bx bx-up-arrow-circle bx-fade-up' ></i></a>
                    {% else %}
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-circle bx-fade-up' ></i></a>
                    {% endif %}
                    </div>
                    {% if user.is_active %}
                    <br>
                    <br>
                    <p class="about__text" style=" color: white; z-index:10; text-align:center;font-family:'Monsterat';text-shadow: 0 3px 2px var(--dark-color);">&nbsp;Welcome {{ user.username }}</p>
                    {% else %}
                    <p class="about__text" style=" color: white; z-index:10; text-align:center;font-family:'Monsterat'; text-shadow: 0 3px 2px var(--dark-color);">Welcome</p>

                    {% endif %}

                    <img src="{{ home.picture.url }}" alt="" class="home__img">
                </div>
            </section>


            <!--===== ABOUT =====-->
            {% if not user.is_active %}
            <section class="about section" id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <!-- <img src="{% static 'assets/img/perfil.png' %}" alt=""> -->
                        <img src="{{ about.profile_img.url }}" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">{{ about.heading }}</h2>
                        <span class="about__profession">{{ about.career }}</span>
                        <p class="about__text">{{ about.description }}</p>


                    </div>
                </div>
            </section>
            {% endif %}

            <!-- NEWS -->
            {% if user.is_active %}
            <section class="about section" id="news">
                <h2 class="section-title">News</h2>
                {% for n in news %}
                <div class="about__container bd-grid">
                    <div class="about__img">

                        <img src="{{ n.img.url }}" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">{{ n.topic }}</h2>

                        <p class="about__text">{{ n.content }}</p>
                        <p class="about__text"><small><i>{{ n.updated }}</i></small></p>

                        <div class="about__social">

                            {% for profile in n.profile2_set.all %}
                                <a href="{{ profile.link }}" class="about__social-icon" target='_blank'>
                                    <i class='bx bxl-{{ profile.social_name }}' ></i>
                                </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}

            </section>
            {% endif %}


            <!--===== PORTFOLIO =====-->
            <section class="portfolio section" id="videos">
                <h2 class="section-title" style="color:white;">Featured Videos</h2>



                <div class="skills__container bd-grid" style="border:1px solid white; border-radius:5px; padding:10px;box-shadow:1px 1px 15px 1px maroon;">


                    {% if livestream %}
                    {% for l in livestream %}


                    <div class="text text-center">
                        <h3 class="about__subtitle text text-light text-center" ><i style="color:red;" class="bx bx-caret-right-circle bx-flashing"></i> Live Video<br>Streamer: {{ l.title }} <br> {{l.updated}}</h3>

                        <iframe src="{{ l.link }}" class="about__text" width="300" height="250" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow=" clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="text text-center">
                        <h3 class="about__subtitle text text-light text-center" >Video of the Week!</h3>

                    <iframe class="about__text" width="300" height="250" src="https://www.youtube.com/embed/VvB66zhJcnk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <!-- player name -->
                    </div>
                    </div>

                <br>
                <h3 class="about__subtitle text text-light text-center" >More</h3>
                <div class="portfolio__container bd-grid">


                    {% for portfolio in portfolios %}


                    <div class="portfolio__img">
                        <img src="{{ portfolio.image.url }}" alt="">

                        <div class="portfolio__link">
                            <h3><a href="{{ portfolio.link }}" target='_blank' class="portfolio__link-name" style='color:black;'><i style='color:red;' class="bx bxl-youtube bx-flashing"></i>Play</a></h3>
                        </div>

                        <h2 class="about__text" style='text-align:center;'>{{portfolio.title}}</h2>



                    </div>





                    {% endfor %}



                </div>
                <div class='wtf'style="text-align:center; padding: 10px;" >
                        <div class="fb-share-button" data-href="https://thebloodline.pythonanywhere.com/#videos" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthebloodline.pythonanywhere.com%2F%23videos&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                        </div>

            </section>




            {% if user.is_active %}



            <!--===== SKILLS =====-->
            <section class="skills section" id="teams">
                <h2 class="section-title">Official BL Teams</h2>

                <div class="skills__container bd-grid">
                    <div class="skills__box">
                        {% for category in categories %}
                        <h3 class="skills__subtitle">{{category.name}}</h3>
                            {% for skills in category.skills_set.all %}

                                <span class="skills__name">{{skills.skill_name}}</span>
                            {% endfor %}
                        {% endfor %}

                    </div>

                    <div class="skills__img">
                        <img src="{% static 'assets/img/2.jpg' %}" alt="">
                    </div>
                </div>
            </section>
            {% endif %}<br><br>


















            <!--STREAMERS-->
            <section class="portfolio section" id="streamers">
                <h2 class="section-title" style="color:white;">Streamers and Sponsors</h2>


                <div class="portfolio__container bd-grid">

                    {% for streamer in streamers %}

                    <div class="portfolio__img">
                        <img src="{{ streamer.image.url }}" alt="">

                        <div class="portfolio__link">
                            <a href="{{ streamer.link }}" target="_blank" class="portfolio__link-name">Visit Page</a>
                        </div>
                    </div>

                    {% endfor %}

                </div>

            </section>



            {% if not user.is_active %}
            <!--===== CONTACT =====-->
            <section class="contact section text text-center"  id="contact">
                <h2 class="section-title">Contact</h2>
                <p class="about__text text text-muted text-center text-sm" style="text-align:center;">If you would like more information about our Tournaments and Scrims , or if you would like to join Bloodline , just send us a message ! </p>

                <div class="contact__container "style="text-align: center;">
                    <div class="contact__info" style="text-align:center;">
                        <h3 class="contact__subtitle"><i class="bx bxl-discord"></i> Discord</h3>
                        <span class="contact__text"><a style="color:blue;" href="https://discord.gg/UKGMNnWc4g" target="_blank">Bloodline Channel</a></span>

                        <h3 class="contact__subtitle"><i class="bx bxl-whatsapp"style="color:green;"></i> WhatsApp</h3>
                        <span class="contact__text">+27 84 636 1602</span>

                       <!--- <h3 class="contact__subtitle">ADRESS</h3>
                        <span class="contact__text">My contry</span> -->
                    </div>




                </div>
            </section>
            {% endif %}




        </main>

        <!--===== FOOTER =====-->
        <footer class="footer section" id='footer'>
            <div class="footer__container bd-grid" style='text-align:center;'>
                <div class="footer__data">
                    <h2 class="footer__title">BLOODLINE :</h2>
                    <a href="{% url 'tour' %}" class="footer__text" style='color:white;'><i class="bx bx-trophy bx-flashing text text-danger"></i> TOURNAMENTS</a>
                </div>



                <div class="footer__data">
                    <h2 class="footer__title">FOLLOW US</h2>
                    <a href="https://www.facebook.com/profile.php?id=100070964575296" target="_blank" class="footer__social"><i class='bx bxl-facebook' ></i></a>
                    <a href="https://discord.gg/UKGMNnWc4g" target="_blank" class="footer__social"><i class='bx bxl-discord' ></i></a>

                </div>


            </div>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>